@model Web_Programlama_Proje.Models.MenuItem

@{
    ViewData["Title"] = "Sil";
}

<h1 class="text-danger">Sil</h1>

<h3>Bu ürünü silmek istediğinize emin misiniz?</h3>
<div>
    <h4 class="text-warning">@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Evet, Sil" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>
